@font-face {
    font-family: 'AnekTamil';
    src: url('./fonts/AnekTamilRegular.ttf');
}
@font-face {
    font-family: 'Staatliches';
    src: url('./fonts/StaatlichesRegular.ttf');
}

.title-font{
    font-family: 'Staatliches';
}

.paragraph-font{
    font-family: 'AnekTamil';
    line-height: 22px;
}

.film-box{
    display: flex; 
    justify-content: flex-start;
}

.portrait{
    position: relative;
    display: flex; 
    flex-direction: column;
    cursor: pointer;
    transition: 500ms all;
}

.portrait:hover{
    color: yellow;
    filter: sepia(80%);
    scale: 1.03;

}
.portrait-stage1:hover{
    color: #ac7823;
    filter: sepia(80%);
}

.portrait-horizontal-line{
    position: absolute;
    width: 0px;
    transition: width 400ms ease-in-out;
    height: 1px;
    background: white;
    bottom: 150px;
}

.portrait-vertical-line{
    position: absolute;
    width: 1px;
    height: 0px;
    transition: height 400ms ease-in-out;
    background: white;
    left: 80%;
}

.description-box{
    display: flex;
    flex-direction: column;
    height: calc(100% - 44px);
    width: 0px;
    border-radius: 0px 12px 12px 0px;
    transition: width 800ms ease-in-out, border-right-color 800ms ease-in-out;
    overflow: hidden;
    color: #ffffff;
    border-right: 1px solid transparent;
}

.description-titles{
    font-weight: bold;
    font-size: 18px;
}

.description-paragraph{
    margin-top: 3px;
    display: inline-block;
}

.poster-box{
    margin: auto; 
    margin-top: 20px;
}

.poster{
    width: 100%;
    height: 175px;
}

.film-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-color: #fffff4; */
    background-color: #000000; 
    color: white;
    overscroll-behavior: none;
}

main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100vw;
}

.slider-inner{
    height: 100vh;
    padding-top: 6vh;
    width: 100%;
    padding-bottom: 14vh; 
    display: flex;
    justify-content: flex-start;
    gap: 125px;
}

.main-stage{
    gap: 0px;
    padding-right: 0px;
}

#stage0{
    width: auto;
    padding-right: 125px;
    padding-left: 75px;
}

#stage1{
    width: auto;
    padding-right: 125px;
    padding-left: 75px;
}

#stage0 .description-box{
    color: white;
}
#stage1 .description-box{
    color: black;
}
#stage2 .description-box{
    color: white;
}

#stage2{
    width: auto;
    padding-right: 0px;
    padding-left: 75px;
}

.main-image{
    height: 100vh; 
    position: relative;
}

.main-gradient{
    width: 23vw;
    position: absolute;
    right: -1px;
    height: 100vh;
    background: linear-gradient(270deg, black, transparent);
}

#main-line1{
    position: absolute;
    border-right: 1px solid white;
    width: 22vh;
    height: 0vh;
    transition-duration: 1200ms;
    transition-property: height;
    transition-timing-function: ease-in-out;
}

#main-line2{
    position: absolute;
    border-right: 1px solid white;
    width: 79vh;
    height: 0vh;
    bottom: 0;
    transition-duration: 800ms;
    transition-property: height;
    transition-timing-function: ease-in-out;
}

#main-line3{
    position: absolute;
    border-right: 1px solid white;
    width: 90vh;
    height: 0vh;
    transition-duration: 900ms;
    transition-property: height;
    transition-timing-function: ease-in-out;
}

#main-line4{
    position: absolute;
    border-bottom: 1px solid white;
    width: 0vh;
    height: 41vh;
    right: 0;
    transition-duration: 1100ms;
    transition-property: width;
    transition-timing-function: ease-in-out;
}

#main-title1, #main-title2, #main-title3{
    position: absolute;
    font-family: 'Staatliches';
    border-right: 1px solid white;
    margin-left: -750px;
    transition-property: margin-left;
    transition-timing-function: ease-in-out;
}

#stage-line-marker{
    position: absolute;
    width: 0px;
    height: 4vh;
    gap: -1px;
    bottom: 4vh;
    transition-property: width;
    transition-duration: 600ms;
    transition-timing-function: ease-in-out;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#stage-line-marker-line{
    display: flex;
    background-color: white;
    /* transition: 300ms ease-in all; */
    justify-content: flex-end;
    width: 101%;
    flex-direction: row;
    align-items: center;
}

#stage-line-marker-line span{
    font-size: 35px;
    color: black;
    padding-right: 5px;
    line-height: 37px;
    transition: 300ms ease-in all;
}

#stage-line-marker-shape {
    width: 0;
    height: 0;
    border-bottom: 37px solid white;
    border-right: 50px solid transparent;
    transform: rotate(0);
}

#main-title1{
    font-size: 9vw;
    padding-top: 3vh;
    transition-duration: 1200ms;
}
#main-title2{
    font-size: 9vw;
    padding-top: 3vh;
    transition-duration: 1400ms;
    top: 8vw;
}
#main-title3{
    font-size: 4vw;
    transition-duration: 1600ms;
    top: 28vw;
}

@media screen and(max-width: 1400px){
    #main-title1, #main-title2{
        font-size: 120px;
    }
    #main-title2{
        top: 100px;
    }
    #main-title3{
        font-size: 40px;
        top: 400px;
    }
}

.author-box{
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    max-width: 680px; 
    min-width: 400px; 
    height: 100vh; 
    border-right: 1px solid #ccc; 
    padding: 6vh 50px 40px 40px;
}

.stage-box{
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    max-width: 680px; 
    min-width: 400px; 
    height: 100vh; 
    margin-top: 3vh;
}

.item{
    position: relative;
    width: 450px;
    height: 100%;
    overflow: hidden;
    /* background-color: red; */
}

.img{
    position: absolute;
    left: -284px;
    width: 600px;
    height: 100%;
    background-size: cover;
    background-position: center;
    /* filter: grayscale(100%); */
}